@model IEnumerable<boilerplate.web.Models.MRoles>

@{
    ViewData["Title"] = "Index";
}
<div class="">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Role</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <a asp-action="Create" class="btn btn-xs btn-primary">Create New</a>

                       @*  <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li> *@
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!-- Content Wrapper -->
    <div class="app-content">
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table id="dtTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-block btn-primary btn-xs" asp-route-id="@item.Id">Edit</a>
                                            <a asp-action="Details" class="btn btn-xs btn-warning" asp-route-id="@item.Id">Details</a>
                                            <a asp-action="Delete" class="btn btn-xs btn-danger" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

